@model FinalWorkshop.Models.CustomerModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Company Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayName("Date Added")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt>
            @Html.DisplayName("Last Updated")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
