@model IEnumerable<FinalWorkshop.Models.CustomerModel>

@{
    ViewData["Title"] = "All Customers";
}

<h2>All Customers</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/main/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Customers</li>
    </ol>
</nav>

<div>
    <p>Search Customer:</p>
    <form asp-action="Index" method="post">
        <input type="text" name="companyName" value="" />
        <input type="submit" value="Szukaj" />
    </form>
</div>
@TempData["1"]
<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Company Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Date Added", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Last Updated", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="SendEmail" asp-route-id="@item.ID" class="btn btn-success">Send Email</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">Details</a> |
                    <a asp-controller="VehiclePolicy" asp-action="SpecificPolicyFromCustomerId" asp-route-id="@item.ID" class="btn btn-primary">Policies</a> |
                    <a asp-controller="Vehicle" asp-action="SpecificVehicle" asp-route-id="@item.ID" class="btn btn-primary">Vehicles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
