@model IEnumerable<FinalWorkshop.Models.VehicleModel>

@{
    ViewData["Title"] = "All Vehicles";
}

<h2>All Vehicles</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/main/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Vehicles</li>
    </ol>
</nav>

<p>Search Vehicle:</p>
<form asp-action="Index" method="post">
    <input type="text" name="regNumber" value="" placeholder="REGNR" />
    <input type="submit" value="Szukaj" />
</form>
@TempData["1"]
<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Registration Number
            </th>
            <th>
                Type
            </th>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Customer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerVehicle.CompanyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="VehiclePolicy" asp-action="SpecificPolicy" asp-route-id="@item.ID">Policies</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
